.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: rgb(237, 226, 212);
  border-radius: 20px;
  padding: 30px;
  margin-top: 20px;
}

.content h1 {
  text-align: center;
}

.content ul {
  padding: 0;
}

.options li {
  list-style-type: none;
  padding: 10px;
}

.container svg {
  padding-right: 15px;
}

.left-col {
  float: left;
}

.right-col {
  float: right;
}

.details li {
  list-style-type: none;
  padding: 10px;
  padding-left: 0;
}

.btn {
  margin: auto;
  width: 25%;
  background-color: purple;
  color: white;
  border: 0;
  border-radius: 20px;
  padding: 10px;
  font-weight: 600;
  margin-bottom: 20px;
}

.btn:hover {
  background-color: rgb(184, 64, 184);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .content {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
  }
}
