.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 248, 255);
  padding: 10px;
  border-radius: 10px;
}

.heading {
  color: rgb(8, 15, 67);
}

.form input {
  width: 100%;
  height: 30px;
  margin: 10px 0px;
  padding: 5px;
  border: 0;
}

.form label {
  font-size: large;
}

.btn {
  display: block;
  text-align: center;
  margin: auto;
  width: 30%;
  background-color: purple;
  color: white;
  border: 0;
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px;
  font-weight: 600;
  text-decoration: none;
}

.btn:hover {
  background-color: rgb(184, 64, 184);
  cursor: pointer;
}
