.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
  background-color: rgb(237, 226, 212);
  border-radius: 20px;
  padding: 30px;
  margin-top: 20px;
}

.btn {
    margin: auto;
    width: 15%;
    background-color: purple;
    color: white;
    border: 0;
    border-radius: 20px;
    padding: 10px;
    font-weight: 600;
  }
  
  .btn:hover {
    background-color: rgb(184, 64, 184);
    cursor: pointer;
  }

  @media screen and (max-width: 600px) {
    .container {
        box-sizing: border-box;
      width: 100%;
      margin: 0;
      /* padding: 0; */
    }
  }